/bin/
/dist/
/potok
/potokd
coverage.out
*.test
.env
.env.local
/data/
*.db
.vscode/
.idea/
.DS_Store
potok.db*
PHASES.MD

/web/node_modules
/web/.pnpm-store/
/web/package-lock.json
/web/yarn.lock
/web/.tanstack
/web/.DS_Store
/web/.cache
/web/.env
/web/.env.*
/web/.vercel
/web/.output
/web/.vinxi
/web/.tanstack-start/build
/web/.nitro/*
/web/.netlify/*
/web/.wrangler/*

/web//build/
/web//api/
/web//server/build
/web//public/build
